body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 20px;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
}

h1, h2 {
    margin: 20px 0;
}

#clock, #timerDisplay {
    font-size: 2em;
    margin: 20px 0;
}

section {
    margin-bottom: 30px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
